# Dependencies
node_modules/

# Editor
.vscode/
.idea/

# OS
.DS_Store

# Build output
bin/
obj/

backend/bin/
backend/obj/

backend.Tests/bin/
backend.Tests/obj/

.env

backend/Logs/
backend/DevResources/
backend/Uploads/