@use "../Styles/variables.scss" as *;

.custom-navbar-container {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.custom-navbar-brand {
    margin-bottom: 10px; 
}

.custom-navbar-links {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
}

.custom-nav-link {
    font-weight: $font-weight-bold;
    font-size: $font-size-subtitle;
}

.custom-button {
    background-color: $darker-background;
    border: 0;
}

.custom-button:visited {
    background-color: $darker-background;
    border: 0;
}

.custom-button:hover {
    background-color: $secondary-background;
    border: 0;
}

.custom-button:active {
    background-color: $secondary-background !important;
    border: 0;
}

.custom-button:focus {
    background-color: $secondary-background;
    border: 0;
}