@use "../styles/variables.scss" as *;

@import url('https://fonts.googleapis.com/css2?family=Federo&family=Fredoka:wght@300..700&display=swap');

$font-family-base: $font-family, sans-serif; 

@import "~bootstrap/scss/bootstrap"; 
@import "../styles/custom-styles.scss";


html, body {
    font-family: $font-family-base;
    height: 100%;
}
