@use "../Styles/variables.scss" as *;

@import url('https://fonts.googleapis.com/css2?family=Federo&family=Fredoka:wght@300..700&display=swap');

$font-family-base: $font-family, sans-serif; 

@import "~bootstrap/dist/css/bootstrap.min.css";
@import "../Styles/custom-styles.scss";


html, body {
    font-family: $font-family-base;
    height: 100%;
}

.h1, h1 {
    font-weight: $font-weight-bold;
}