

$primary-background: #DDBEA9;
$secondary-background:#8E9D76;
$darker-background: #796C50;

$font-color: black;
$breakfast: #5B78DD;
$lunch: #DD5012;
$tea: #4DDD7F;
$dinner: #B627DD;

$font-family: "Fredoka";
$font-weight-regular: 400;
$font-weight-bold: 600;
$font-weight-lighter: 300;
$font-size-title: 24px;
$font-size-subtitle: 20px;
$font-size-button: 20px;
$font-size-body: 14px;
$font-size-secondary: 10px;
$line-height-title: 24px;
$line-height-subtitle: 24px;
$line-height-button: 32px;
$line-height-body: 20px;
$line-height-secondary: 16px;