
.recipe-button{
    font-size: 1rem;
    margin-bottom: 1rem;
}

.recipe-photo-card {
    width: '18rem';
    padding: 1em;
}

.recipe-photo-edit-icon {
    position: absolute; 
    top: 0;
    right: 0;
}