@use "../../Styles/variables.scss" as *;

.search-icon {
    width: max(3vh,16px);
    height: auto;
}

.search-container {
    padding-top: max(3vh,10px);
}

.search-icon-box,
.search-box {
    background-color: $primary-background;
    border-top: 3px solid black;
    border-left: 3px solid black;
    border-right: 0;
    border-bottom: 3px solid black;

    &.search-box {
        border-right: 0;
        border-left: 0;
        &:focus {
            background-color: $primary-background;
            outline: none;            
            border-color: black;     
            box-shadow: none;
            border-right: 1px solid black;
          }
    }
}
