

$primary-background: #DDBEA9;
$secondary-background:#8E9D76;
$darker-background: #796C50;
$light-background: white;

$font-color: black;
$breakfast: #9c7240;
$lunch: #6d7d43;
$snack: #8f6b8d;
$dinner: #57808f;

$font-family: "Fredoka";
$font-weight-regular: 400;
$font-weight-bold: 600;
$font-weight-lighter: 300;
$font-size-title: 24px;
$font-size-subtitle: 20px;
$font-size-button: 20px;
$font-size-body: 14px;
$font-size-secondary: 10px;
$line-height-title: 24px;
$line-height-subtitle: 24px;
$line-height-button: 32px;
$line-height-body: 20px;
$line-height-secondary: 16px;