@use "../../Styles/variables.scss" as *;
@import 'react-big-calendar/lib/sass/styles';
@import 'react-big-calendar/lib/addons/dragAndDrop/styles'; // if using DnD


.meal-plan-calendar {
    height: 70vh;
    max-height: 400px;
}

.dot-wrapper{
    display: flex;
    flex-wrap: wrap;
}
.dot {
    height: 0.5em;
    width: 0.5em;
    border-radius: 50%;
    margin: 1px;
    background-color: darkcyan;
}

.Breakfast {
    background-color: $breakfast;
}

.Lunch {
    background-color: $lunch;
}

.Dinner {
    background-color: $dinner;
}

.MorningSnack, .AfternoonSnack, .EveningSnack {
    background-color: $snack
}



.selected-date {
    background-color: $light-background;
}

/* Remove the blue box around events in the month view only */
.rbc-month-view .rbc-event {
    background-color: transparent !important; /* Remove background color */
    border: none !important;                 /* Remove border */
    box-shadow: none !important;             /* Remove any box-shadow */
  }
  
  /* Optionally, handle hover or active states in the month view */
  .rbc-month-view .rbc-event:hover, 
  .rbc-month-view .rbc-event:active {
    background-color: transparent !important;
    border: none !important;
    box-shadow: none !important;
  }
  